* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* border: 2px solid red; */
  min-height: 100vh;
}
.header {
  /* border: 2px solid red; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: white;
}
.main {
  /* margin-top: 20px; */
  /* border: 2px solid red; */
  min-height: 100dvh;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
